/* Fonts Used in the Project
    font-family: "Lato", sans-serif;
*/


body {
    background-color: white;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #000000;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    border-bottom: 10px grey solid;
}

.title{
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 40px;
    margin-top: 5%;
    width: 33%;
}

.me {
    border: 2px dashed rgb(230, 226, 226);
    border-radius: 50%;
}

#contact {
    font-size: 18px;
    font-style: italic;
    color: white;
    list-style-type: none;
    width: 33%;
}

#contact li {
    border: 1px dashed white;
}
#contact h2 {
    color: white;
    border: 2px solid;
}

.content {
    width: 100%;
    text-align: center;
}

div .content{
    height: 500px;
    width: 500px;
}

div {
    text-align: center;
    align-content: center;
    border-bottom: 2px solid darkslategray;
}

#ecs1 {
    font-size:25px;
    border-top:solid 1px black;
    border-bottom:solid 1px black;
    padding: 5px;
}

#ec-desc1 {
    font-size:20px;
    border-bottom:1px solid black;
    font-style:italic;
    position: relative;
}

#ecs2 {
    font-size:25px;
    border-top:solid 1px black;
    border-bottom:solid 1px black;
    padding: 5px;
}

#ec-desc2 {
    font-size:20px;
    border-bottom:1px solid black;
    font-style:italic;
    position: relative;
}

#ecs3 {
    font-size:25px;
    border-top:solid 1px black;
    border-bottom:solid 1px black;
    padding: 5px;
}

#ec-desc3 {
    font-size:20px;
    border-bottom:1px solid black;
    font-style:italic;
    position: relative;
}

#ecs4 {
    font-size:25px;
    border-top:solid 1px black;
    border-bottom:solid 1px black;
    padding: 5px;
}

#ec-desc4 {
    font-size:20px;
    border-bottom:1px solid black;
    font-style:italic;
    position: relative;
}

#ecs5 {
    font-size:25px;
    border-top:solid 1px black;
    border-bottom:solid 1px black;
    padding: 5px;
}

#ec-desc5 {
    font-size:20px;
    border-bottom:1px solid black;
    font-style:italic;
    position: relative;
}

#ecs6 {
    font-size:25px;
    border-top:solid 1px black;
    border-bottom:solid 1px black;
    padding: 5px;
}

#ec-desc6 {
    font-size:20px;
    border-bottom:1px solid black;
    font-style:italic;
    position: relative;
}

