/* Fonts Used in the Project
    font-family: "Lato", sans-serif;
*/


body {
    background-color: white;
    margin: 0;
    padding: 0;
    border: 0;
}

.header {
    display: flex;
    padding: 1rem;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-bottom: 10px grey solid;
}

.title{
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 40px;
    margin-right: 50px;
}

.me {
    height: 175px;
    width: 175px;
    border: 2px dashed rgb(230, 226, 226);
    border-radius: 50%;
}

#contact {
    font-size: 18px;
    font-style: italic;
    color: white;
    margin-left: 50px;
}

#contact li {
    border: 1px dashed white;
}
#contact h2 {
    color: white;
    border: 2px solid;
}

.content div{
    height: 500px;
    width: 500px;
    text-align: center;
}